{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  <div class="container">
    <h1 class="mb-3 fw-bold">{{ review.title }}</h1>
    <p class="mb-1 fw-light">{{ review.user }}</p>
    <p class="mb-1 fw-light">{{ review.created_at }}</p>
    <p class="mb-4 fw-light">{{ review.updated_at }}</p>
    <p class="mb-1">{{ review.movie_name }}</p>
    <p class="mb-1">{{ review.grade }}</p>
    <p class="mb-1">{{ review.content }}</p>
    {% if request.user == review.user %}
      <a href="{% url 'reviews:update' review.pk %}" class="btn btn-primary form-control mb-1">수정</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST" class="form">
        {% csrf_token %}
        <input class="btn btn-danger form-control" type="submit" value="삭제">
      </form>
      =
    {% endif %}
    <h4>댓글</h4>
    <hr>
    {% if request.user.is_authenticated %}
      <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        {% bootstrap_button button_type="submit" content="OK" button_class="btn btn-outline-primary" %}
      </form>
    {% endif %}
    {% for comment in comments %}
      <p>{{ comment.content }}</p>
      {% if request.user == comment.user %}
        <form action="{% url 'reviews:comments_delete' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="DELETE">
        </form>
      {% endif %}
      <hr>
    {% endfor %}
  </div>
{% endblock body %}
