{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h1 class="mb-3 fw-bold">{{ review.title }}</h1>
    <p class="mb-1 fw-light">{{ review.user }}</p>
    <p class="mb-1 fw-light">{{ review.created_at }}</p>
    <p class="mb-4 fw-light">{{ review.updated_at }}</p>
    <p class="mb-1">{{ review.movie_name }}</p>
    <p class="mb-1">{{ review.grade }}</p>
    <p class="mb-1">{{ review.content }}</p>
    {% if request.user == review.user %}
      <a href="{% url 'reviews:update' review.pk %}" class="btn btn-primary form-control mb-1">수정</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST" class="form">
        {% csrf_token %}
        <input class="btn btn-danger form-control" type="submit" value="삭제">
      </form>
    {% endif %}
  </div>
{% endblock body %}
